*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body .container{
    max-width: 800px;
    margin: 0 auto;
    background-color: turquoise;
}

header{    
    background-color: gray;
    padding: 20px;
    margin-bottom: 20px;    
}


header .alerta p{
    background-color: red;
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: medium;
}

main{    
    
    margin: 10px;
    padding-bottom: 20px;    
    

}

main #tareas{
    margin: 20px;
    padding: 10px;

}

main #tareas  .contenedor_tarea{
    padding: 20px;
    
    }

main #tareas .nombre_tarea{
    position: relative;
   
}
main #tareas .nombre_tarea button{
    position: absolute;
    top: 0;
    right: 0;

}
header button{    
     font-weight: 700; 
 }

main button{
   margin-bottom: 20px;
    font-weight: 700;

}

.urgente{
    background-color: red;
}

.diaria{
    background-color: green;
}

.mensual{
    background-color: orange;

}











