*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body .container{
    max-width: 800px;
    margin: 0 auto;
    background-color: yellow;
}

header{    
    background-color: gray;
    padding: 20px;
    margin-bottom: 20px;    
}


header .alerta p{
    background-color: red;
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: medium;
}

main{    
    
    margin: 10px;
    padding-bottom: 20px;    
    

}

main #tareas{
    margin: 20px;
    padding: 10px;

}

main #tareas  article{
    padding: 20px;
    }

main #tareas  article .nombre_tarea{
    position: relative;
}

main #tareas  article .nombre_tarea input{
    position: absolute;
    top: 0;
    right: 0;

}












